.topNav{
    width: 100vw;
    background-color: gray;
    position: relative;
    height: 40px;
    padding: 5px;
    background-image: linear-gradient(rgba(128, 128, 128, 0), rgba(54, 54, 54, 0.678));
}
.accountIcon{
    height: 40px;
    width: 40px;    
    position: absolute;
    right: 15px;
    cursor: pointer;
    transition: 500ms;
}
.accountIcon:hover{
    transform: scale(1.05);
}
.accountIcon img{
    height: 100%;
    width: 100%;
}