.topNav{
    width: 100vw;
    background-color: gray;
    position: relative;
    height: 40px;
    padding: 5px;
}
.accountIcon{
    height: 40px;
    width: 40px;    
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.accountIcon img{
    height: 100%;
    width: 100%;
}